*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.alert h1{
    color: #dd4f05;
    font-size: 19px;
    font-weight: 700;
    font-family: acumin-pro,sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    padding-top: 30px;
    line-height: 1.2;
}
.alert p{
    font-family: acumin-pro, sans-serif;
    margin-left: 80px;
    margin-right: 80px;
    margin-top: 10px;
    font-size: 18px;
    line-height: 1.5;
    color: #696f73;
    font-weight: 400;
    margin-bottom: 30px;
}

.header1{
    width: 100%;
    height: 50px;
    border-top: 1px solid #dd4f05;
    display: flex;
}
.px768{
    display: none;
}
.hiddenpersonal{
    display: none;
}
.header1 nav{
    background-color: #dd4f05;
    height: 100%;
    width: 600px;
}
.header1 nav .headerlinkdiv{
    width: 90%;
    margin: auto;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin-top: 10px;
}
.header1 nav .headerlinkdiv .countrybuttondiv a button{
    width: 60px;
    height: 25px;
    border-radius: 20px;
    opacity: .9;
    border: none;
}
.header1 nav .headerlinkdiv .countrybuttondiv a button .circle{
    height: 20px;
    width: 20px;
    border-radius: 50%;
    background-image: url('../SecondPage/images/istockphoto-652740802-612x612.jpg');
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    margin-left: 10px;
}
.header1 nav .headerlinkdiv .countrybuttondiv a button .circle span{
    margin-left: 20px;
}
.header1 nav .headerlinkdiv a{
    color: #fae5da;
    font-size: 13px;
    font-weight: 600;
    font-family: acumin-pro,sans-serif;
    text-decoration: none;
}
.header1 a{
    text-decoration: none;
}
.header1 a .skew-et{
    width: 250px;
    height: 49px;
    margin-left: -30px;
    background-color: #ab3d04;
    transform: skewX(-27deg);
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
}
.header1 a .skew-et:hover{
    background-color: #8b2e00;
}
.header1 a .skew-et div{
    transform: skewX(27deg);
    font-size: 14px;
    color: #fae5da;
    font-weight: 600;
    letter-spacing: 1px;
    font-family: acumin-pro,sans-serif;
    display: flex;
    align-items: center;
}
.header1 a .skew-et div span{
    margin-left: 10px;
}

.header2{
    width: 100%;
    height: 100px;
}
.header2 nav{
    display: flex;
    height: 100%;
    align-items: center;
}
.header2 nav ul{
    height: 100px;
    width: 850px;
    display: flex;
    align-items: center;
    justify-content: space-between  ;
    list-style-type: none;
}
.header2 nav ul li{
    padding-bottom: 30px;
    margin-top: 40px;
}
.header2 nav ul li a{
    font-family: acumin-pro,sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5e5e;
    text-align: left;
    background-color: transparent;
    text-decoration: none;
    padding-left: 35px;
}
.header2 nav ul li:nth-of-type(1){
    margin-left: 75px;
}
.header2 nav ul li:nth-of-type(1):hover{
    border: none;
}
.header2 nav ul li:hover{
    border-bottom: medium solid #dd4f05;
}
.header2 nav ul li a:hover{
    color: #dd4f05;
}
.header2 nav img{
    margin-left: 250px;
    margin-top: -30px;
    height: 100px;
    width: 100px;
}
#home{
    color: #dd4f05;
}
.personaldropdowncont{
    height: 600px;
    width: 800px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.124);
    display: flex;
    position: absolute;
    margin-top: 33px;
    visibility: hidden;
    z-index: 1;
}
.personaldropdowncont .items{
    height: 100%;
    width: 35%;
    background-color: white;
}
.personaldropdowncont .itemsitems{
    width: 65%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}
.personaldropdowncont .items div{
    width: 80%;
    border-bottom: thin solid rgba(0, 0, 0, 0.315);
    margin: auto;
    font-family: acumin-pro,sans-serif;
    color: #5e5e5e;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    background-color: transparent;
    padding-bottom: 10px;
    padding-top: 30px;
}
header nav ul .personal:hover .personaldropdowncont{
    visibility: visible;
}
.personaldropdowncont .items div:hover{
    background-color: #5e5e5e11;
}

.businessdropdowncont{
    height: 600px;
    width: 800px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.124);
    display: flex;
    position: absolute;
    margin-top: 33px;
    visibility: hidden;
    margin-left: -112px;
    z-index: 1;
}
.businessdropdowncont .items{
    height: 100%;
    width: 35%;
    background-color: white;
}
.businessdropdowncont .itemsitems{
    width: 65%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}
.businessdropdowncont .items div{
    width: 80%;
    border-bottom: thin solid rgba(0, 0, 0, 0.315);
    margin: auto;
    font-family: acumin-pro,sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5e5e;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 10px;
}
header nav ul .business:hover .businessdropdowncont{
    visibility: visible;
}
.businessdropdowncont .items div:hover{
    background-color: #5e5e5e11;
}
.aboutusdropdowncont{
    height: 600px;
    width: 800px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.124);
    display: flex;
    position: absolute;
    margin-top: 33px;
    visibility: hidden;
    margin-left: -224px;
    z-index: 1;
}
.aboutusdropdowncont .items{
    height: 100%;
    width: 35%;
    background-color: white;
}
.aboutusdropdowncont .itemsitems{
    width: 65%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}
.aboutusdropdowncont .items div{
    width: 80%;
    border-bottom: thin solid rgba(0, 0, 0, 0.315);
    margin: auto;
    font-family: acumin-pro,sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5e5e;
    background-color: transparent;
    padding-top: 20px;
    padding-bottom: 10px;
}
header nav ul .aboutus:hover .aboutusdropdowncont{
    visibility: visible;
}
.aboutusdropdowncont .items div:hover{
    background-color: #5e5e5e11;
}

.investorsrelationdropdowncont{
    height: 600px;
    width: 800px;
    box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.124);
    display: flex;
    position: absolute;
    margin-top: 33px;
    visibility: hidden;
    margin-left: -333px;
    z-index: 1;
}
.investorsrelationdropdowncont .items{
    height: 100%;
    width: 35%;
    background-color: white;
}
.investorsrelationdropdowncont .itemsitems{
    width: 65%;
    height: 100%;
    background-color: rgb(221, 221, 221);
}
.investorsrelationdropdowncont .items div{
    width: 80%;
    border-bottom: thin solid rgba(0, 0, 0, 0.315);
    margin: auto;
    font-family: acumin-pro,sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1.5;
    color: #5e5e5e;
    background-color: transparent;
    padding: 20px;
    padding-bottom: 10px;
}
header nav ul .investorsrelation:hover .investorsrelationdropdowncont{
    visibility: visible;
}
.investorsrelationdropdowncont .items div:hover{
    background-color: #5e5e5e11;
}

/* -----main---- */


.home{
    background-color:whitesmoke;
    padding-top: 30px;
}
.hometop{
    width: 80%;
    background-color:;
    display: flex;
    margin: auto;
}
.hometop-inner{
    display: flex;
    gap: 1.5em;
    color: #000;
    padding-bottom: 30px;
}
.hometop-image{
    position: relative;
    padding-bottom: 50px;
}
.hometop-image img{
    width:100%;
}
.mediacet{
    position: absolute;
    top: 50px;
    left: 50px;
    height: 30vh;
    padding: 40px 50px 230px 30px;
    background-color: white;
    opacity: 0.9;
}
.mediacet span{
    color: #dd4f05;
}
.home .text-1{
    margin-left: 120px;
    padding: 16px;
    font-size: 16px;
    font-weight: bold;
}
